# Streamlit y entorno de app
streamlit

# LangChain y extensiones
langchain
langchain-huggingface
langchain-community

# Vectorstore FAISS
faiss-cpu

# Carga y parsing de documentos
unstructured[all-docs]
python-docx
PyPDF2

# HuggingFace
huggingface-hub
sentence-transformers
optimum
transformers
torch>=2.1.0

# Procesamiento de texto
nltk
